@import "../mixins";

.blogs {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  min-height: 543px;

  &-filter {
    @include blocksHeaders;

    padding: 34px 0 0 55px;
    width: 320px;

    h3 {
      position: relative;
      padding-bottom: 18px;

      &::after {
        @include gray-line;

        left: 4px;
        top: 50px;
        width: 84px;
      }
    }

    &__list {
      float: right;
      padding: 32px 25px 0 0;

      li {
        @include myriadProRegular;

        margin-bottom: 24px;
        font-size: 19px;
        letter-spacing: -0.4px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-posts {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 0 88px;
    width: 878px;

    &__item {
      margin: 0 72px 50px 0;
      width: 190px;
    }

    &__photo {
      margin-bottom: 6px;
    }

    &__date-creation {
      @include myriadProRegular;

      margin-bottom: 24px;
      font-size: 18px;
      color: #ffc600;
    }

    &__title {
      @include myriadProBold;

      margin-bottom: 16px;
      font-size: 15px;
      letter-spacing: -0.1px;
    }

    &__subtitle {
      @include myriadProIt;

      font-size: 12px;
      line-height: 14px;
    }
  }
}
