@import "../mixins";

.testimonials {
  display: flex;
  padding: 49px 0;
  min-height: 418px;
  color: #fff;
  background-color: #000;

  &-text {
    @include blocksHeaders;

    padding-left: 49px;
    width: 760px;

    &__title {
      position: relative;
      margin-bottom: 73px;

      &::after {
        @include gray-line;

        left: 91px;
        top: 54px;
        width: 84px;
      }
    }

    &__paragraph {
      @include myriadProIt;

      padding: 0 0 18px 43px;
      font-size: 16px;
      line-height: 19px;
    }

    &__subject {
      @include myriadProRegular;

      padding: 0 0 20px 43px;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &-photo {
    padding: 52px 0 0 39px;

    &__image {
      margin-bottom: 22px;
      border: 3px solid #ffa800;
      border-radius: 50%;
      width: 127px;
      height: 127px;
    }

    &__text {
      padding-left: 11px;
      font-size: 16px;
      text-align: center;

      .name-persons {
        @include myriadProSemibold;

        padding-bottom: 3px;
      }

      .specialty {
        @include myriadProIt;

        letter-spacing: 0.5px;
      }
    }
  }
}
