.header-wrapper {
  padding-top: 106px;
  background-image: url("../../img/header-background.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  .header-wrapper .header {
    margin: 0 auto;
    width: 1198px; }
    .header-wrapper .header-title {
      padding-bottom: 64px;
      padding-left: 28px; }
      .header-wrapper .header-title h1 {
        font-family: "MyriadPro-Bold";
        font-weight: 700;
        font-size: 202px;
        line-height: 173px;
        letter-spacing: -10px;
        color: #fff; }
        .header-wrapper .header-title h1 span {
          font-family: "MyriadPro-Bold";
          font-weight: 700;
          color: #ffc600; }
      .header-wrapper .header-title p {
        font-family: "MyriadPro-Regular";
        font-weight: 400;
        padding-bottom: 27px;
        padding-left: 14px;
        font-size: 18px;
        line-height: 22px;
        color: #fff; }
        .header-wrapper .header-title p span {
          color: #ffc600; }
      .header-wrapper .header-title a {
        font-family: "MyriadPro-Regular";
        font-weight: 400;
        margin-left: 14px;
        border-bottom: 1px solid transparent;
        font-size: 18px;
        text-decoration: none;
        color: #ffc600;
        transition: all 0.5s; }
        .header-wrapper .header-title a:hover {
          border-bottom: 1px solid #ffc600;
          color: #fff;
          transition: all 0.5s; }
    .header-wrapper .header-subtitle {
      padding-left: 46px;
      height: 654px;
      background-image: url("../img/header-image.jpg");
      background-position: center;
      background-repeat: no-repeat; }
      .header-wrapper .header-subtitle h2 {
        font-family: "MyriadPro-Bold";
        font-weight: 700;
        padding-top: 68px;
        padding-bottom: 54px;
        font-size: 60px;
        line-height: 48px;
        letter-spacing: -3px;
        color: #fff; }
      .header-wrapper .header-subtitle span {
        color: #ffc600; }
      .header-wrapper .header-subtitle__menu {
        margin-left: -3px; }
        .header-wrapper .header-subtitle__menu ul {
          display: flex; }
          .header-wrapper .header-subtitle__menu ul li {
            margin-right: 34px; }
            .header-wrapper .header-subtitle__menu ul li a {
              font-family: "MyriadPro-Regular";
              font-weight: 400;
              border-bottom: 1px solid transparent;
              padding-bottom: 1px;
              font-size: 18px;
              text-decoration: none;
              color: #ffc600;
              transition: all 0.5s; }
              .header-wrapper .header-subtitle__menu ul li a:hover {
                border-bottom: 1px solid #ffc600;
                color: #fff;
                transition: all 0.5s; }

.about-wrapper {
  padding: 34px 0 45px; }
  .about-wrapper .about {
    display: flex;
    margin-bottom: 69px; }
    .about-wrapper .about-title {
      padding: 25px 0 0 131px;
      width: 663px; }
      .about-wrapper .about-title p {
        font-family: "MyriadPro-Semibold";
        font-weight: 600;
        position: relative;
        font-size: 80px;
        line-height: 44px; }
        .about-wrapper .about-title p::before {
          content: "";
          position: absolute;
          right: 17px;
          top: -13px;
          width: 1px;
          height: 133px;
          background-color: #c5c5c5; }
          @media (max-width: 949px) {
            .about-wrapper .about-title p::before {
              display: none; } }
        .about-wrapper .about-title p::after {
          content: "";
          position: absolute;
          left: 150px;
          top: 114px;
          width: 133px;
          height: 1px;
          background-color: #c5c5c5; }
          @media (max-width: 949px) {
            .about-wrapper .about-title p::after {
              left: 110px; } }
        .about-wrapper .about-title p span {
          font-family: "MyriadPro-Regular";
          font-weight: 400;
          font-size: 30px;
          color: #717171; }
        .about-wrapper .about-title p i {
          padding-left: 6px;
          font-size: 50px;
          letter-spacing: 1px; }
        .about-wrapper .about-title p b {
          color: #ffc600; }
        @media (max-width: 949px) {
          .about-wrapper .about-title p {
            font-size: 70px; } }
      @media (max-width: 949px) {
        .about-wrapper .about-title {
          padding: 20px 0 40px;
          width: 100%; } }
    .about-wrapper .about-description {
      padding-left: 4px;
      width: 690px; }
      .about-wrapper .about-description__title {
        font-family: "MyriadPro-It";
        font-weight: 400;
        padding-bottom: 17px;
        font-size: 16px;
        line-height: 19px;
        color: #000; }
      .about-wrapper .about-description__text {
        font-family: "MyriadPro-Regular";
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #595959; }
      @media (max-width: 949px) {
        .about-wrapper .about-description {
          padding-left: 0;
          width: 100%; } }
    @media (max-width: 949px) {
      .about-wrapper .about {
        flex-direction: column;
        margin-bottom: 30px; } }
  .about-wrapper .about-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; }
    .about-wrapper .about-column .about-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 26px;
      width: 290px; }
      .about-wrapper .about-column .about-content__icon {
        margin-bottom: 22px;
        border: 2px solid #ffc600;
        border-radius: 50%;
        width: 57px;
        height: 57px;
        background-image: url("../img/about-icon.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: #e8e8e8; }
        @media (max-width: 949px) {
          .about-wrapper .about-column .about-content__icon {
            margin: 0 15px 10px 0; } }
      .about-wrapper .about-column .about-content p {
        font-family: "MyriadPro-Semibold";
        font-weight: 600;
        margin-bottom: 18px;
        font-size: 19px;
        letter-spacing: -0.5px; }
        @media (max-width: 949px) {
          .about-wrapper .about-column .about-content p {
            margin-top: 10px;
            width: calc(100% - 75px); } }
      .about-wrapper .about-column .about-content i {
        font-family: "MyriadPro-It";
        font-weight: 400;
        display: block;
        margin-bottom: 12px;
        font-size: 10px;
        line-height: 12px; }
      @media (max-width: 949px) {
        .about-wrapper .about-column .about-content {
          flex-flow: wrap;
          flex-direction: row;
          margin-bottom: 15px;
          padding: 0;
          width: 100%;
          text-align: left; } }
    @media (max-width: 949px) {
      .about-wrapper .about-column {
        align-items: start;
        padding: 0; } }
    @media (max-width: 809px) {
      .about-wrapper .about-column {
        flex-direction: column; } }
  @media (max-width: 1197px) {
    .about-wrapper {
      padding-right: 10px;
      padding-left: 10px; } }
  @media (max-width: 949px) {
    .about-wrapper {
      padding: 0 10px 20px; } }

.projects {
  padding: 46px 0 18px; }
  .projects-title {
    margin-left: 78px; }
    .projects-title h3 {
      font-family: "MyriadPro-Semibold";
      font-weight: 600;
      font-size: 30px; }
    .projects-title .yellow-letter,
    .projects-title .bold-letter {
      font-size: 50px; }
    .projects-title .yellow-letter {
      color: #ffc600; }
    .projects-title h3 {
      position: relative;
      padding-bottom: 18px; }
      .projects-title h3::after {
        content: "";
        position: absolute;
        left: 150px;
        top: 114px;
        width: 133px;
        height: 1px;
        background-color: #c5c5c5;
        left: 114px;
        top: 49px; }
    .projects-title ul {
      display: flex;
      margin-bottom: 24px;
      margin-left: 3px;
      letter-spacing: -0.5px; }
    .projects-title li {
      font-family: "MyriadPro-Semibold";
      font-weight: 600;
      position: relative;
      list-style: none;
      margin-right: 25px;
      font-size: 10px;
      text-transform: uppercase;
      transition: all 0.3s;
      cursor: pointer; }
      .projects-title li:hover {
        color: #ffc600;
        transition: color 0.3s; }
    .projects-title .active::before {
      content: "";
      position: absolute;
      left: calc(50% - 12px);
      top: 12px;
      width: 23px;
      height: 1px;
      background-color: #ffc600; }
  .projects-image {
    display: flex;
    flex-wrap: wrap; }
    .projects-image div {
      position: relative;
      margin-bottom: 2px;
      height: 267px;
      background-color: #161616; }
      .projects-image div img {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity 0.5s; }
        .projects-image div img:hover {
          opacity: 0.2; }
      .projects-image div:hover .visitSite {
        position: absolute;
        left: 30%;
        top: calc(50% - 15px);
        z-index: 1;
        width: 35px;
        height: 35px;
        background: url("../../img/website.png") no-repeat;
        transition: 0.2s;
        -webkit-animation: "fadeInUp";
        animation: "fadeInUp";
        -webkit-animation-duration: 0.75s;
        animation-duration: 0.75s; }
        .projects-image div:hover .visitSite:hover {
          background: url("../../img/website-hover.png") no-repeat;
          transition: 0.2s; }
      .projects-image div:hover .loupe {
        position: absolute;
        left: 60%;
        top: calc(50% - 15px);
        z-index: 1;
        width: 35px;
        height: 35px;
        background: url("../../img/loupe.png") no-repeat;
        transition: 0.2s;
        -webkit-animation: "fadeInUp";
        animation: "fadeInUp";
        -webkit-animation-duration: 0.75s;
        animation-duration: 0.75s; }
        .projects-image div:hover .loupe:hover {
          background: url("../../img/loupe-hover.png") no-repeat;
          transition: 0.2s; }
      .projects-image div:hover img {
        opacity: 0.2; }

.process-wrapper {
  padding: 41px 60px 64px 79px; }
  .process-wrapper .process-text h3 {
    font-family: "MyriadPro-Semibold";
    font-weight: 600;
    font-size: 30px; }
  .process-wrapper .process-text .yellow-letter,
  .process-wrapper .process-text .bold-letter {
    font-size: 50px; }
  .process-wrapper .process-text .yellow-letter {
    color: #ffc600; }
  .process-wrapper .process-text__title {
    position: relative;
    margin-bottom: 22px;
    word-spacing: 4px; }
    .process-wrapper .process-text__title::after {
      content: "";
      position: absolute;
      left: 150px;
      top: 114px;
      width: 133px;
      height: 1px;
      background-color: #c5c5c5;
      left: 109px;
      top: 50px; }
  .process-wrapper .process-text__subtitle {
    font-family: "MyriadPro-It";
    font-weight: 400;
    margin-bottom: 18px;
    font-size: 16px; }
  .process-wrapper .process-text__description {
    font-family: "MyriadPro-Regular";
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 17px; }
  .process-wrapper .process-imageText {
    padding-top: 21px; }
    .process-wrapper .process-imageText__item {
      display: flex;
      margin: 0 auto;
      width: 880px; }
      .process-wrapper .process-imageText__item .image-description {
        padding: 24px 40px 0 34px;
        width: 430px; }
        .process-wrapper .process-imageText__item .image-description h4 {
          font-family: "MyriadPro-Semibold";
          font-weight: 600;
          margin-bottom: 25px;
          font-size: 30px;
          word-spacing: 2px; }
          .process-wrapper .process-imageText__item .image-description h4 i {
            font-size: 50px; }
        .process-wrapper .process-imageText__item .image-description span {
          font-family: "MyriadPro-It";
          font-weight: 400;
          display: inline-block;
          margin-bottom: 16px;
          font-size: 16px;
          line-height: 20px; }
        .process-wrapper .process-imageText__item .image-description p {
          font-family: "MyriadPro-Regular";
          font-weight: 400;
          font-size: 14px;
          line-height: 17px; }

.services {
  padding: 36px 49px 30px;
  background: url("../../img/services.png") no-repeat; }
  .services-content {
    color: #fff; }
    .services-content h3 {
      font-family: "MyriadPro-Semibold";
      font-weight: 600;
      font-size: 30px; }
    .services-content .yellow-letter,
    .services-content .bold-letter {
      font-size: 50px; }
    .services-content .yellow-letter {
      color: #ffc600; }
    .services-content__title {
      position: relative;
      word-spacing: 4px; }
      .services-content__title::after {
        content: "";
        position: absolute;
        left: 150px;
        top: 114px;
        width: 133px;
        height: 1px;
        background-color: #c5c5c5;
        left: 122px;
        top: 50px; }
  .services-list {
    display: flex;
    justify-content: flex-end;
    padding-right: 35px; }
    .services-list ul {
      display: flex;
      flex-wrap: wrap;
      width: 640px; }
      .services-list ul li {
        display: block;
        margin: 45px 86px 28px 0;
        width: 230px; }
        .services-list ul li .services-list__title {
          font-family: "MyriadPro-Regular";
          font-weight: 400;
          margin-bottom: 25px;
          font-size: 18px;
          color: #fff; }
        .services-list ul li .services-list__description {
          font-family: "MyriadPro-Regular";
          font-weight: 400;
          font-size: 11px;
          line-height: 13px;
          color: #fff; }

.team {
  display: flex;
  justify-content: space-between;
  padding: 84px 0; }
  .team-header {
    padding: 10px 0 0 49px;
    width: 321px;
    word-spacing: 2px; }
    .team-header h3 {
      font-family: "MyriadPro-Semibold";
      font-weight: 600;
      font-size: 30px; }
    .team-header .yellow-letter,
    .team-header .bold-letter {
      font-size: 50px; }
    .team-header .yellow-letter {
      color: #ffc600; }
    .team-header__title {
      position: relative; }
      .team-header__title::after {
        content: "";
        position: absolute;
        left: 150px;
        top: 114px;
        width: 133px;
        height: 1px;
        background-color: #c5c5c5;
        left: 69px;
        top: 50px;
        width: 84px; }
  .team-content {
    padding-left: 26px;
    width: 877px; }
    .team-content__description {
      width: 625px; }
      .team-content__description p {
        font-family: "MyriadPro-It";
        font-weight: 400;
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 19px; }
      .team-content__description span {
        font-family: "MyriadPro-Regular";
        font-weight: 400;
        display: inline-block;
        margin-bottom: 32px;
        font-size: 14px;
        line-height: 16px; }
    .team-content__persons .persons-list {
      display: flex;
      margin-bottom: 65px; }
      .team-content__persons .persons-list .persons-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 19px;
        font-size: 16px; }
        .team-content__persons .persons-list .persons-item .persons-photo {
          margin-bottom: 14px; }
        .team-content__persons .persons-list .persons-item .name-persons {
          font-family: "MyriadPro-Semibold";
          font-weight: 600;
          margin-bottom: 4px; }
        .team-content__persons .persons-list .persons-item .specialty {
          font-family: "MyriadPro-It";
          font-weight: 400; }

.testimonials {
  display: flex;
  padding: 49px 0;
  min-height: 418px;
  color: #fff;
  background-color: #000; }
  .testimonials-text {
    padding-left: 49px;
    width: 760px; }
    .testimonials-text h3 {
      font-family: "MyriadPro-Semibold";
      font-weight: 600;
      font-size: 30px; }
    .testimonials-text .yellow-letter,
    .testimonials-text .bold-letter {
      font-size: 50px; }
    .testimonials-text .yellow-letter {
      color: #ffc600; }
    .testimonials-text__title {
      position: relative;
      margin-bottom: 73px; }
      .testimonials-text__title::after {
        content: "";
        position: absolute;
        left: 150px;
        top: 114px;
        width: 133px;
        height: 1px;
        background-color: #c5c5c5;
        left: 91px;
        top: 54px;
        width: 84px; }
    .testimonials-text__paragraph {
      font-family: "MyriadPro-It";
      font-weight: 400;
      padding: 0 0 18px 43px;
      font-size: 16px;
      line-height: 19px; }
    .testimonials-text__subject {
      font-family: "MyriadPro-Regular";
      font-weight: 400;
      padding: 0 0 20px 43px;
      font-size: 14px;
      line-height: 17px; }
  .testimonials-photo {
    padding: 52px 0 0 39px; }
    .testimonials-photo__image {
      margin-bottom: 22px;
      border: 3px solid #ffa800;
      border-radius: 50%;
      width: 127px;
      height: 127px; }
    .testimonials-photo__text {
      padding-left: 11px;
      font-size: 16px;
      text-align: center; }
      .testimonials-photo__text .name-persons {
        font-family: "MyriadPro-Semibold";
        font-weight: 600;
        padding-bottom: 3px; }
      .testimonials-photo__text .specialty {
        font-family: "MyriadPro-It";
        font-weight: 400;
        letter-spacing: 0.5px; }

.blogs {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  min-height: 543px; }
  .blogs-filter {
    padding: 34px 0 0 55px;
    width: 320px; }
    .blogs-filter h3 {
      font-family: "MyriadPro-Semibold";
      font-weight: 600;
      font-size: 30px; }
    .blogs-filter .yellow-letter,
    .blogs-filter .bold-letter {
      font-size: 50px; }
    .blogs-filter .yellow-letter {
      color: #ffc600; }
    .blogs-filter h3 {
      position: relative;
      padding-bottom: 18px; }
      .blogs-filter h3::after {
        content: "";
        position: absolute;
        left: 150px;
        top: 114px;
        width: 133px;
        height: 1px;
        background-color: #c5c5c5;
        left: 4px;
        top: 50px;
        width: 84px; }
    .blogs-filter__list {
      float: right;
      padding: 32px 25px 0 0; }
      .blogs-filter__list li {
        font-family: "MyriadPro-Regular";
        font-weight: 400;
        margin-bottom: 24px;
        font-size: 19px;
        letter-spacing: -0.4px; }
        .blogs-filter__list li:hover {
          cursor: pointer; }
  .blogs-posts {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 0 88px;
    width: 878px; }
    .blogs-posts__item {
      margin: 0 72px 50px 0;
      width: 190px; }
    .blogs-posts__photo {
      margin-bottom: 6px; }
    .blogs-posts__date-creation {
      font-family: "MyriadPro-Regular";
      font-weight: 400;
      margin-bottom: 24px;
      font-size: 18px;
      color: #ffc600; }
    .blogs-posts__title {
      font-family: "MyriadPro-Bold";
      font-weight: 700;
      margin-bottom: 16px;
      font-size: 15px;
      letter-spacing: -0.1px; }
    .blogs-posts__subtitle {
      font-family: "MyriadPro-It";
      font-weight: 400;
      font-size: 12px;
      line-height: 14px; }

.contact {
  display: flex;
  padding-bottom: 73px; }
  .contact-map {
    width: 500px; }
    .contact-map img {
      display: block; }
  .contact-info {
    padding: 47px 0 0 76px;
    width: 698px;
    background-color: #2046b3; }
    .contact-info h3 {
      font-family: "MyriadPro-Semibold";
      font-weight: 600;
      font-size: 30px; }
    .contact-info .yellow-letter,
    .contact-info .bold-letter {
      font-size: 50px; }
    .contact-info .yellow-letter {
      color: #ffc600; }
    .contact-info h3 {
      position: relative;
      padding: 0 0 20px 22px;
      color: #fff; }
      .contact-info h3::after {
        content: "";
        position: absolute;
        left: 150px;
        top: 114px;
        width: 133px;
        height: 1px;
        background-color: #c5c5c5;
        left: 30px;
        top: 50px;
        width: 172px;
        height: 2px; }
    .contact-info__form {
      margin-bottom: 60px;
      width: 412px; }
      .contact-info__form input {
        height: 35px; }
      .contact-info__form input,
      .contact-info__form textarea {
        font-family: "MyriadPro-Semibold";
        font-weight: 600;
        outline: none;
        border: 2px solid #c5c5c5;
        padding: 2px 0 0 12px;
        font-size: 16px;
        color: #fff;
        background-color: transparent; }
        .contact-info__form input::-moz-placeholder, .contact-info__form textarea::-moz-placeholder {
          color: #fff; }
        .contact-info__form input:-ms-input-placeholder, .contact-info__form textarea:-ms-input-placeholder {
          color: #fff; }
        .contact-info__form input::placeholder,
        .contact-info__form textarea::placeholder {
          color: #fff; }
      .contact-info__form #name {
        margin-bottom: 18px;
        width: 412px; }
      .contact-info__form #mobile {
        margin: 0 43px 12px 0;
        width: 159px; }
      .contact-info__form #email {
        margin-bottom: 12px;
        width: 206px; }
      .contact-info__form .message {
        overflow: hidden;
        margin-bottom: 19px;
        padding-top: 6px;
        width: 412px;
        height: 76px;
        resize: none; }
      .contact-info__form #submit {
        margin-left: 2px;
        border: 2px solid transparent;
        padding: 2px 6px 0 0;
        width: 108px;
        height: 33px;
        color: #000;
        background-color: #ffc600;
        transition: all 0.4s; }
        .contact-info__form #submit:hover {
          border: 2px solid #fff;
          color: #fff;
          transition: all 0.4s;
          cursor: pointer; }
    .contact-info__data {
      border-bottom: 2px solid rgba(197, 197, 197, 0.5);
      padding: 0 0 46px 22px;
      width: 412px; }
      .contact-info__data span,
      .contact-info__data p {
        font-family: "MyriadPro-Semibold";
        font-weight: 600;
        font-size: 16px;
        color: #fff; }
      .contact-info__data a {
        font-family: "MyriadPro-Regular";
        font-weight: 400;
        font-size: 12px;
        text-decoration: none;
        color: #fff; }
      .contact-info__data p {
        margin-bottom: 34px; }
    .contact-info__address {
      margin-bottom: 25px; }
      .contact-info__address span {
        display: inline-block;
        margin-right: 19px; }
    .contact-info__phone {
      margin-bottom: 14px; }
      .contact-info__phone span {
        display: inline-block;
        margin-right: 31px; }
    .contact-info__email {
      margin-bottom: 20px; }
      .contact-info__email span {
        display: inline-block;
        margin-right: 37px; }
    .contact-info__social {
      padding: 8px 0 0 22px; }
      .contact-info__social ul {
        display: flex; }
        .contact-info__social ul li {
          margin-right: 5px; }
          .contact-info__social ul li a {
            display: block;
            width: 19px;
            height: 19px; }
          .contact-info__social ul li .twitter {
            background-image: url("../../img/twitter.png"); }
          .contact-info__social ul li .linkedin {
            background-image: url("../../img/linkedin.png"); }
          .contact-info__social ul li .facebook {
            background-image: url("../../img/facebook.png"); }

.footer {
  display: flex;
  padding-bottom: 38px; }
  .footer-links {
    width: 321px;
    background-color: #000; }
    .footer-links__title {
      padding: 115px 0 0 25px; }
      .footer-links__title p {
        font-family: "MyriadPro-Bold";
        font-weight: 700;
        margin-bottom: 49px;
        font-size: 60px;
        letter-spacing: -3.2px;
        color: #fff; }
        .footer-links__title p span {
          color: #ffc600; }
    .footer-links__list {
      position: relative;
      padding: 0 0 28px 4px; }
      .footer-links__list::after {
        content: "";
        position: absolute;
        left: 1px;
        bottom: 0;
        width: 115px;
        height: 2px;
        background-color: #ffc600; }
      .footer-links__list li {
        margin-bottom: 20px; }
        .footer-links__list li a {
          font-family: "MyriadPro-Semibold";
          font-weight: 600;
          font-size: 16px;
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          transition: all 0.4s; }
          .footer-links__list li a:hover {
            color: #ffc600; }
    .footer-links__social {
      display: flex;
      padding: 14px 0 0 3px; }
      .footer-links__social li {
        margin-right: 5px; }
        .footer-links__social li a {
          display: block;
          width: 19px;
          height: 19px; }
        .footer-links__social li .twitter {
          background-image: url("../../img/twitter.png"); }
        .footer-links__social li .linkedin {
          background-image: url("../../img/linkedin.png"); }
        .footer-links__social li .facebook {
          background-image: url("../../img/facebook.png"); }
  .footer-image {
    width: 877px; }
    .footer-image__container {
      position: relative;
      background-color: #000; }
    .footer-image img {
      display: block;
      opacity: 0.22; }
    .footer-image p {
      font-family: "MyriadPro-Bold";
      font-weight: 700;
      position: absolute;
      left: 24px;
      top: 340px;
      font-size: 110px;
      line-height: 88px;
      letter-spacing: -4.8px;
      color: #fff; }
      .footer-image p span {
        color: #ffc600; }

.main {
  margin: 0 auto;
  width: 1198px;
  background-color: #fff; }
  @media (max-width: 1197px) {
    .main {
      width: 100%; } }

/*# sourceMappingURL=main.css.map */
