<section class="about-wrapper">
  <div class="about">
    <div class="about-title">
      <p><span><i>A</i>bout</span><br><b>S</b>ublime</p>
    </div>
    <div class="about-description">
      <p class="about-description__title">Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. Nulla facilisis molestie dignissim. 
        Nulla pellentesque et nisi et euismod. Pellentesque quis tristique 
        magna.</p>
      <p class="about-description__text">Maecenas est risus, tristique 
        volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo 
        sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae 
        ullamcorper odio. Mauris id enim gravida, tempor velit non, vehicula 
        lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu. Maecenas 
        est risus, tristique volutpat sagittis vel, feugiat consectetur diam. 
        Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. 
        Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non, 
        vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu</p>
    </div>
  </div>
  <div class="about-column">
    <div class="about-content">
      <div class="about-content__icon"></div>
      <p>App Development</p>
      <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis 
        molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque 
        quis tristique magna.</i>
      <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis 
        molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque 
        quis tristique magna.</i>
    </div>
    <div class="about-content">
      <div class="about-content__icon"></div>
      <p>Game Design</p>
      <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis 
        molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque 
        quis tristique magna.</i>
      <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis 
        molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque 
        quis tristique magna.</i>
    </div>
    <div class="about-content">
      <div class="about-content__icon"></div>
      <p>Content Creation</p>
      <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis 
        molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque 
        quis tristique magna.</i>
      <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis 
        molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque 
        quis tristique magna.</i>
    </div>
  </div>
</section>
