<section id="blogs" class="blogs">
  <div class="blogs-filter">
    <h3><span class="yellow-letter">B</span>logs</h3>
    <ul class="blogs-filter__list">
      <li class="list-blogs active" data-filter="latest">Latest Posts</li>
      <li class=" list-blogs" data-filter="design">App Design</li>
      <li class="list-blogs" data-filter="development">App Development</li>
      <li class="list-blogs" data-filter="solutions">Design Solutions</li>
      <li class="list-blogs" data-filter="qa">Quality Assurance</li>
      <li class="list-blogs" data-filter="devmod">Development Mode</li>
      <li class="list-blogs" data-filter="out">What’s Out There</li>
    </ul>
  </div>
  <div class="blogs-posts">
    <div class="blogs-posts__item itemBlogs latest">
      <img class="blogs-posts__photo" src="../img/blogs-photo1.jpg" alt="Photo latest">
      <p class="blogs-posts__date-creation">July 4th 2020</p>
      <p class="blogs-posts__title">Latest Posts</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs latest">
      <img class="blogs-posts__photo" src="../img/blogs-photo2.jpg" alt="Photo latest">
      <p class="blogs-posts__date-creation">June 20th 2020</p>
      <p class="blogs-posts__title">Latest Posts</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs latest">
      <img class="blogs-posts__photo" src="../img/blogs-photo3.jpg" alt="Photo latest">
      <p class="blogs-posts__date-creation">May 6th 2020</p>
      <p class="blogs-posts__title">Latest Posts</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs design">
      <img class="blogs-posts__photo" src="../img/blogs-photo1.jpg" alt="Photo design">
      <p class="blogs-posts__date-creation">July 4th 2020</p>
      <p class="blogs-posts__title">App Design</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs design">
      <img class="blogs-posts__photo" src="../img/blogs-photo2.jpg" alt="Photo design">
      <p class="blogs-posts__date-creation">June 20th 2020</p>
      <p class="blogs-posts__title">App Design</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs design">
      <img class="blogs-posts__photo" src="../img/blogs-photo3.jpg" alt="Photo design">
      <p class="blogs-posts__date-creation">May 6th 2020</p>
      <p class="blogs-posts__title">App Design</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs development">
      <img class="blogs-posts__photo" src="../img/blogs-photo1.jpg" alt="Photo development">
      <p class="blogs-posts__date-creation">July 4th 2020</p>
      <p class="blogs-posts__title">App Development</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs development">
      <img class="blogs-posts__photo" src="../img/blogs-photo2.jpg" alt="Photo development">
      <p class="blogs-posts__date-creation">June 20th 2020</p>
      <p class="blogs-posts__title">App Development</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs development">
      <img class="blogs-posts__photo" src="../img/blogs-photo3.jpg" alt="Photo development">
      <p class="blogs-posts__date-creation">May 6th 2020</p>
      <p class="blogs-posts__title">App Development</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs solutions">
      <img class="blogs-posts__photo" src="../img/blogs-photo1.jpg" alt="Photo solutions">
      <p class="blogs-posts__date-creation">July 4th 2020</p>
      <p class="blogs-posts__title">Design Solutions</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs solutions">
      <img class="blogs-posts__photo" src="../img/blogs-photo2.jpg" alt="Photo solutions">
      <p class="blogs-posts__date-creation">June 20th 2020</p>
      <p class="blogs-posts__title">Design Solutions</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs solutions">
      <img class="blogs-posts__photo" src="../img/blogs-photo3.jpg" alt="Photo solutions">
      <p class="blogs-posts__date-creation">May 6th 2020</p>
      <p class="blogs-posts__title">Design Solutions</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs qa">
      <img class="blogs-posts__photo" src="../img/blogs-photo1.jpg" alt="Photo qa">
      <p class="blogs-posts__date-creation">July 4th 2020</p>
      <p class="blogs-posts__title">Quality Assurance</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs qa">
      <img class="blogs-posts__photo" src="../img/blogs-photo2.jpg" alt="Photo qa">
      <p class="blogs-posts__date-creation">June 20th 2020</p>
      <p class="blogs-posts__title">Quality Assurance</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs qa">
      <img class="blogs-posts__photo" src="../img/blogs-photo3.jpg" alt="Photo qa">
      <p class="blogs-posts__date-creation">May 6th 2020</p>
      <p class="blogs-posts__title">Quality Assurance</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs devmod">
      <img class="blogs-posts__photo" src="../img/blogs-photo1.jpg" alt="Photo devmod">
      <p class="blogs-posts__date-creation">July 4th 2020</p>
      <p class="blogs-posts__title">Development Mode</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs devmod">
      <img class="blogs-posts__photo" src="../img/blogs-photo2.jpg" alt="Photo devmod">
      <p class="blogs-posts__date-creation">June 20th 2020</p>
      <p class="blogs-posts__title">Development Mode</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs devmod">
      <img class="blogs-posts__photo" src="../img/blogs-photo3.jpg" alt="Photo devmod">
      <p class="blogs-posts__date-creation">May 6th 2020</p>
      <p class="blogs-posts__title">Development Mode</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs out">
      <img class="blogs-posts__photo" src="../img/blogs-photo1.jpg" alt="Photo out">
      <p class="blogs-posts__date-creation">July 4th 2020</p>
      <p class="blogs-posts__title">What’s Out There</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs out">
      <img class="blogs-posts__photo" src="../img/blogs-photo2.jpg" alt="Photo out">
      <p class="blogs-posts__date-creation">June 20th 2020</p>
      <p class="blogs-posts__title">What’s Out There</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
    <div class="blogs-posts__item itemBlogs out">
      <img class="blogs-posts__photo" src="../img/blogs-photo3.jpg" alt="Photo out">
      <p class="blogs-posts__date-creation">May 6th 2020</p>
      <p class="blogs-posts__title">What’s Out There</p>
      <p class="blogs-posts__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla facilisis molestie dignissim. 
      </p>
    </div>
  </div>
</section>
