<section id="contact" class="contact">
  <div class="contact-map">
    <img src="../img/map.jpg" alt="Map">
  </div>
  <div class="contact-info">
    <h3><span class="yellow-letter">C</span>ontact <b class="bold-letter">U</b>s</h3>
    <form class="contact-info__form">
      <label for="name"></label>
			<input type="text" id="name" placeholder="Your Name">
      <label for="mobile"></label>
			<input type="tel" id="mobile" placeholder="Mobile">
      <label for="email"></label>
			<input type="email" id="email" placeholder="Email">
      <textarea name="message" class="message" placeholder="Your Message" cols="30" rows="10"></textarea>
      <input type="submit" id="submit" value="SEND">
    </form>
    <div class="contact-info__data">
      <p>Location Map</p>
      <div class="contact-info__address">
        <span>Address</span>
        <a href="https://www.google.com/maps/place/Hill+Mist+Garden,+NIBM+Road,+Kausar+Baugh,+Kondhwa,+Pune,+Maharashtra+411048,+Индия/@18.4753265,73.8879231,16.54z/data=!4m5!3m4!1s0x3bc2ea62d51980df:0x2852517b24c2f948!8m2!3d18.4751724!4d73.8917416">Hill Mist garden, Pune, 411 048. India</a>
      </div>
      <div class="contact-info__phone">
        <span>Phone</span>
        <a href="tel:+91 12534 67890">+91 12534 67890</a>
      </div>
      <div class="contact-info__email">
        <span>Email</span>
        <a href="mailto:firkho@firkho.com">firkho@firkho.com</a>
      </div>
    </div>
    <div class="contact-info__social">
      <ul>
        <li><a href="https://twitter.com" class="twitter"></a></li>
        <li><a href="https://www.linkedin.com" class="linkedin"></a></li>
        <li><a href="https://www.facebook.com" class="facebook"></a></li>
      </ul>
    </div>
  </div>
</section>
