<footer class="footer">
  <div class="footer-links">
    <div class="footer-links__title">
      <p><span>S</span>ublime</p>
      <ul class="footer-links__list">
        <li><a href="">HOME</a></li>
        <li><a href="">ABOUT SUBLIME</a></li>
        <li><a href="">OUR WORKS</a></li>
        <li><a href="">SERVICES</a></li>
        <li><a href="">TEAM</a></li>
        <li><a href="">TESTIMONIALS</a></li>
        <li><a href="">BLOG</a></li>
        <li><a href="">CLIENTS</a></li>
        <li><a href="">CONTACT US</a></li>
      </ul>
      <ul class="footer-links__social">
        <li><a href="https://twitter.com" class="twitter"></a></li>
        <li><a href="https://www.linkedin.com" class="linkedin"></a></li>
        <li><a href="https://www.facebook.com" class="facebook"></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-image">
    <div class="footer-image__container">
      <img src="../img/footer-image.jpg" alt="Man">
      <p><span>We</span> create Awesome Games</p>
    </div>
  </div>
</footer>
