<header id="header-wrapper" class="header-wrapper">
  <div class="header">
    <div class="header-title">
      <h1><span>S</span>ublime</h1>
      <p><span>S</span>ublime: A one page responsive wordpress theme </br> suitable for any kind of business representation.</p>
      <a download href="../Sublime.psd">Download the psd.</a>
    </div>
    <div class="header-subtitle">
      <h2><span>We</span> create <br> Awesome Games</h2>
      <nav class="header-subtitle__menu">
        <ul>
          <li><a class="anchor" href="#about-wrapper">About</a></li>
          <li><a class="anchor" href="#process-wrapper">Development</a></li>
          <li><a class="anchor" href="#projects">Projects</a></li>
          <li><a class="anchor" href="#blogs">Blog</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
