<section class="process-wrapper">
  <div class="process">
    <div class="process-text">
      <h3 class="process-text__title"><span class="yellow-letter">S</span>trategic <b class="bold-letter">P</b>rocess</h3>
      <p class="process-text__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. 
        Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.
      </p>
      <p class="process-text__description">
        Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse 
        justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper odio. 
        Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus urna, sed aliquam 
        lectus egestas eu. Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. 
        Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper 
        odio. Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus urna, sed aliquam 
        lectus egestas eu. Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. 
        Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper 
        odio. Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus urna, sed aliquam 
        lectus egestas eu. Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. 
        Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper 
        odio. Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus urna, sed aliquam 
        lectus egestas eu.
      </p>
    </div>
    <div class="process-imageText">
      <div class="process-imageText__item">
        <img src="../img/process.jpg" alt="Process image">
        <div class="image-description">
          <h4><i>O</i>ur <i>P</i>rocess</h4>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. 
            Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.
          </span>
          <p>
            Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse 
            justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper odio. 
            Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus urna, sed aliquam 
            lectus egestas eu
          </p>
        </div>
      </div>
      <div class="process-imageText__item">
        <div class="image-description">
          <h4><i>M</i>ethod</h4>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. 
            Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.
          </span>
          <p>
            Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse 
            justo sem, molestie tincidunt 
          </p>
        </div>
        <img src="../img/method.jpg" alt="Method image">
      </div>
      <div class="process-imageText__item">
        <img src="../img/outcome.jpg" alt="Outcome image">
        <div class="image-description">
          <h4><i>O</i>utcome</h4>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. 
            Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.
          </span>
          <p>
            Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse 
            justo sem, molestie tincidunt 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
