<section class="projects">
  <div class="projects-title">
    <h3><span class="yellow-letter">F</span>eatured <b class="bold-letter">P</b>rojects</h3>
    <ul>
      <li class="list active" data-filter="all">All works</li>
      <li class="list" data-filter="games">Games</li>
      <li class="list" data-filter="applications">Applications</li>
      <li class="list" data-filter="content">Content development</li>
    </ul>
  </div>
  <div class="projects-image">
    <div>
      <a class="loupe" data-fslightbox="gallery" href="img/project-view-photo1.jpg"></a>
      <a class="visitSite" href="https://darksiders.com" target="_blank"></a>
      <img class="itemBox games" src="img/project-photo1.jpg" alt="Games">
    </div>
    <div>
      <a class="loupe" data-fslightbox="gallery" href="img/project-view-photo2.jpg"></a>
      <a class="visitSite" href="https://www.ubisoft.com/en-us/game/assassins-creed/assassins-creed-3-remastered" target="_blank"></a>
      <img class="itemBox content" src="img/project-photo2.jpg" alt="Content development">
    </div>
    <div>
      <a class="loupe" data-fslightbox="gallery" href="img/project-view-photo3.jpg"></a>
      <a class="visitSite" href="https://worldofwarcraft.com/ru-ru/" target="_blank"></a>
      <img class="itemBox content" src="img/project-photo3.jpg" alt="Content development">
    </div>
    <div>
      <a class="loupe" data-fslightbox="gallery" href="img/project-view-photo4.jpg"></a>
      <a class="visitSite" href="https://www.codemasters.com/game/dirt-3/" target="_blank"></a>
      <img class="itemBox applications" src="img/project-photo4.jpg" alt="Applications">
    </div>
    <div>
      <a class="loupe" data-fslightbox="gallery" href="img/project-view-photo5.jpg"></a>
      <a class="visitSite" href="https://ghostrecon.fandom.com/ru/wiki/Tom_Clancy%27s_Ghost_Recon:_Advanced_Warfighter_2" target="_blank"></a>
      <img class="itemBox games" src="img/project-photo5.jpg" alt="Games">
    </div>
    <div>
      <a class="loupe" data-fslightbox="gallery" href="img/project-view-photo6.jpg"></a>
      <a class="visitSite" href="https://www.crysis.com" target="_blank"></a>
      <img class="itemBox applications" src="img/project-photo6.jpg" alt="Applications">
    </div>
    <div>
      <a class="loupe" data-fslightbox="gallery" href="img/project-view-photo7.jpg"></a>
      <a class="visitSite" href="https://www.ea.com/ru-ru/games/battlefield" target="_blank"></a>
      <img class="itemBox content" src="img/project-photo7.jpg" alt="Content development">
    </div>
    <div>
      <a class="loupe" data-fslightbox="gallery" href="img/project-view-photo8.jpg"></a>
      <a class="visitSite" href="https://www.starwars.com/games-apps" target="_blank"></a>
      <img class="itemBox games" src="img/project-photo8.jpg" alt="Games">
    </div>
  </div>
</section>
