<section id="services" class="services">
  <div class="services-content">
    <h3 class="services-content__title"><span class="yellow-letter">S</span>ervices <b class="bold-letter">P</b>rovided</h3>
  </div>
  <div class="services-list">
    <ul>
      <li>
        <h5 class="services-list__title">
          App Development
        </h5>
        <p class="services-list__description">
          Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse 
          justo sem, molestie tincidunt  Maecenas est risus, tristique volutpat sagittis vel, feugiat 
          consectetur diam. Suspendisse justo sem, molestie tincidunt 
        </p>
      </li>
      <li>
        <h5 class="services-list__title">
          Game Development
        </h5>
        <p class="services-list__description">
          Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse 
          justo sem, molestie tincidunt  Maecenas est risus, tristique volutpat sagittis vel, feugiat 
          consectetur diam. Suspendisse justo sem, molestie tincidunt 
        </p>
      </li>
      <li>
        <h5 class="services-list__title">
          App Design
        </h5>
        <p class="services-list__description">
          Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse 
          justo sem, molestie tincidunt  Maecenas est risus, tristique volutpat sagittis vel, feugiat 
          consectetur diam. Suspendisse justo sem, molestie tincidunt 
        </p>
      </li>
      <li>
        <h5 class="services-list__title">
          Game Design
        </h5>
        <p class="services-list__description">
          Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse 
          justo sem, molestie tincidunt  Maecenas est risus, tristique volutpat sagittis vel, feugiat 
          consectetur diam. Suspendisse justo sem, molestie tincidunt 
        </p>
      </li>
    </ul>
  </div>
</section>
