<section class="team">
  <div class="team-header">
    <h3 class="team-header__title"><span class="yellow-letter">O</span>ur <b class="bold-letter">T</b>eam</h3>
  </div>
  <div class="team-content">
    <div class="team-content__description">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. 
        Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.
      </p>
      <span>
        Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse 
        justo sem, molestie tincidunt 
      </span>
    </div>
    <div class="team-content__persons">
      <ul class="persons-list">
        <li class="persons-item">
          <img class="persons-photo" src="../img/ceo.jpg" alt="John Doe, CEO">
          <p class="name-persons">John Doe</p>
          <p class="specialty">CoFounder / CEO</p>
        </li>
        <li class="persons-item">
          <img class="persons-photo" src="../img/manager.jpg" alt="John Doe, Manager">
          <p class="name-persons">John Doe</p>
          <p class="specialty">process Manager</p>
        </li>
        <li class="persons-item">
          <img class="persons-photo" src="../img/president.jpg" alt="John Doe, President">
          <p class="name-persons">John Doe</p>
          <p class="specialty">Sales President</p>
        </li>
        <li class="persons-item">
          <img class="persons-photo" src="../img/developer.jpg" alt="John Doe, Developer">
          <p class="name-persons">John Doe</p>
          <p class="specialty">Developer</p>
        </li>
      </ul>
    </div>
  </div>
</section>
