<section id="testimonials" class="testimonials">
  <div class="testimonials-text">
    <h3 class="testimonials-text__title"><span class="yellow-letter">T</span>estimonials</h3>
    <p class="testimonials-text__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. 
      Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.
    </p>
    <p class="testimonials-text__subject">
      Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse 
      justo sem, molestie tincidunt 
    </p>
  </div>
  <div class="testimonials-photo">
    <div class="testimonials-photo__image">
      <img src="../img/cofounder.png" alt="CoFounder">
    </div>
    <div class="testimonials-photo__text">
      <p class="name-persons">John Doe</p>
      <p class="specialty">CoFounder/CEO</p>
    </div>
  </div>
</section>
