// @import 'vars'; если используете scss-переменные - подключите сюда vars, но удалите root из _vars.scss

// CUSTOM COMPONENTS STYLES
// .burger {
//   --burger-width: 40px;
//   --burger-height: 20px;
//   --burger-line-height: 2px;

//   @include burger;
// }

@import "./components/header";
@import "./components/about";
@import "./components/projects";
@import "./components/process";
@import "./components/services";
@import "./components/team";
@import "./components/testimonials";

.main {
  margin: 0 auto;
  width: 1198px;
  background-color: #fff;
}
